name: Monthly Menu

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install ics requests
      - run: python generate_menu.py
